body {
  background: #f7f4f2;
}

h1,
h2,
h3 {
  color: #999999;
}

p,
a {
  color: #454545;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 250px 1fr;
  grid-gap: 15px;
  grid-template-areas:
  "header"
  "sidebar"
  "content"
  "footer";
  padding: 3px;
  margin: 20px;
  border-radius: 20px;
}

.box {
  line-height: 1.8em;
  border-radius: 20px;
  padding: 15px;
  background: #efeae6;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  display: inline-flex;
  justify-content: center;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
/* TODO: merg all padding  */
.nestedGrid {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.card {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  padding: 15px;
  background: #f7f4f2;
}

#photobox1 {
  background-image:url(../images/pic2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#photobox2 {
  background-image:url(../images/c1.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#photobox3 {
  background-image:url(../images/c2.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#photobox4 {
  background-image:url(../images/c3.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#photobox5 {
  background-image:url(../images/c4.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  border-radius: 40px;
  margin: 20px;
  background: #bfbab7d9;
}

li a {
  display: inline-flex;
  font-size: 24px;
  color: #605f61;
  padding: 8px 80px;
  text-decoration: none;
}

@media (min-width: 600px) and (max-width:1100px) {
  .container{
    display: grid;
    grid-template-columns: 650px auto;
    grid-template-rows: 150px 250px 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";
    padding: 3px;
    margin: 20px;
    border-radius: 20px;
    justify-content: center;
  }

  .nestedGrid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 290px 20px;
    grid-template-rows: 350px 350px 350px ;
    height: auto;
    padding: 15px;
  }
}

@media(min-width:1101px) {
  .container{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 800px 1fr;
    grid-gap: 15px;
    grid-template-areas:
    'sidebar header header header'
    'sidebar content  content  content'
    'footer footer footer footer ';
    padding: 3px;
    margin: 20px;
    border-radius: 20px;
  }

  .nestedGrid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 50% 50% 50% ;
  }

  .card {
    height: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 15px;
    background: #f7f4f2;
  }
}
